* {
    padding: 0;
    margin: 0;
    outline: 0;
}

.container {
    background: #00bfa5;
}

.container ul { 
    list-style: none; 
} 

.container ul li { 
    background: #00bfa5; 
    width: 120px; 
    height: 60px; 
    line-height: 60px; 
    text-align: center; 
    float: left; 
    color: white; 
    font-size: 20px; 
    cursor: pointer; 
} 

.container ul ul { 
    display: none; 
} 

.container ul li:hover > ul { 
    display: block; 
} 

.container ul li:hover > ul li { 
    padding-left: 0px; 
    /* width: 70px;  */
    display: block; 
} 


.container ul li:hover > ul li:hover { 
    background: #069784; 
} 


